* {
  padding: 0;
  margin: 0;
  width: 1440px;
  height: 8279px;
  flex-grow: 0;
  background-color: #f6f4f0;
  scroll-behavior: smooth;
}

body {
  background-color: #f6f4f0 !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}
.nav-bar {
  width: 1170px;
  height: 100px;
  background-color: #f6f4f0;
  padding-left: 145px;
  padding-top: 10px;
  padding-right: 125px;
}

.logo {
  /* position: absolute;
  top: 10px; */
  height: 50px;
  width: 240px;
}

.li-icon-uno {
  width: 35.4px;
  height: 35.4px;
  flex-grow: 0;
  object-fit: contain;
}

.li-logo-uno {
  object-fit: contain;
  color: #1a1a1a;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  height: 25px;
  border: 0.5px solid #f6f4f0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.li-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 14px;
  position: absolute;
  height: 20.78px;
  width: 371px;
  left: 473px;
  top: 47px;
  color: #1a1a1a !important;
}

.li-texto-opciones {
  height: 20.78px;
  width: 80px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.li-vector-uno {
  width: 0.9px;
  height: 21.3px;
  flex-grow: 0;
  transform: rotate(-330deg);
  background-color: #1a1a1a;
}

.li-inicio-de-sesion {
  width: 263px;
  height: 50px;
  margin-top: 10px;
  margin-left: 550px;
}

.li-inicia-sesion {
  width: 91px;
  height: 16px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.32px;
  text-align: right;
  color: #1a1a1a;
  text-decoration: underline;
}
.li-registro {
  width: 142px;
  height: 50px;
  flex-grow: 0;
  margin: 0 0 0 30px;
  padding: 16px 24px 16px 20px;
  border-radius: 100px;
  border: solid 1px #1a1a1a;
  background-color: #1a1a1a;
}

.li-texto-registro {
  position: absolute;
  left: 1088px;
  top: 51px;
  height: 16px;
  width: 76px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.32px;
  text-align: left;
  color: #fff;
  background-color: #1a1a1a !important;
}

.li-main-uno {
  /* position: absolute; */
  width: 1381.77px;
  height: 405.34px;
  /* left: 39px;
  top: 177px; */
  margin-left: 30px;
  margin-top: 20px;
}

.li-section-main {
  width: 873px;
  height: 260px;
  margin-top: 10px;
  margin-left: 240px;
  margin-right: 268.77px;
  margin-bottom: 0;
}

.li-vector-star {
  width: 21px;
  height: 23px;
  margin-left: 2px;
  padding-top: 2px;
  margin-top: 45px;
  z-index: 9999;
}

.li-vector-union {
  width: 43.3px;
  height: 43.3px;
  position: absolute;
  left: 1100.1px;
  top: 221.1px;
}

.li-slogan-uno {
  width: 873px;
  height: 70px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
  font-family: Alata;
  font-size: 60px;
  font-weight: 300;
  line-height: 0;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
  padding-top: 20px;
  margin-left: 35px;
  margin-top: 20px;
}

.li-rectangle {
  position: absolute;
  width: 200px;
  height: 18px;
  left: 528px;
  top: 239px;
  transform: skew(-20deg);
  background: #6f8cee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.6;
}

.li-texto-main {
  width: 600px !important;
  height: 68px !important;
  margin-left: 70px;
  margin-right: 70px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 25px;
}

.li-btn-main {
  width: 180px;
  height: 58px;
  border-radius: 100px;
  box-shadow: 5px 4px 0 0 #000;
  border: solid 1px #1a1a1a;
  background-color: #dce2e6;
  margin-left: 270px;
  margin-top: 15px;
}

.li-btn-main-text {
  width: 75px;
  height: 16px;
  margin: 1px 8px 1px 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.32px;
  text-align: center;
  color: #1a1a1a;
  background-color: #dce2e6;
}

.li-calendar-vector {
  width: 244px;
  height: 128px;
  position: absolute;
  left: 39px;
  top: 315px;
}

.li-vector-flecha-uno {
  position: absolute;
  width: 94.92px !important;
  height: 49.89px !important;
  left: 172px;
  top: 407.24px;
}

.li-pink-calendar-vector {
position: absolute;
width: 176px;
height: 151px;
left: 1221.23px;
top: 311.43px;
shadow: 0px 6px 22px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}

.li-vector-flecha-dos {
  position: absolute;
width: 99.33px;
height: 129.34px;
left: 1256px;
top: 443px;
background-color: transparent;
}

.li-vector-elipses {
  position: absolute;
  width: 1427px;
  height: 871px;
  left: -59px;
  top: 574px;
  background-color: transparent;
}

.li-image-62 {
position: absolute;
width: 869.82px;
height: 620px;
left: 281px;
top: 458px;
border-radius: 30px;
}

.li-image-63 {
  position: absolute;
width: 374.68px;
height: 306px;
left: 132px;
top: 894px;
border-radius: 30px;
}

.li-group-main {
  position: absolute;
  left: 0px;
  top: 1304px;
  height: 331px;
  width: 1440px;
}

.li-section-one {
  position: absolute;
  width: 1170px;
  height: 724px;
  left: 135px;
  top: 1785px;  
}

.li-section-txt-title {
position: absolute;
width: 748px;
height: 60px;
left: 240px;
top: 0px;
font-family: 'Alatsi', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 60px;
color: #1A1A1A;
z-index: 10;
text-align: center;
}

.li-section-txt {
  position: absolute;
  width: 704px;
  height: 56px;
  left: 255px;
  top: 60px;
  font-family: 'Alatsi', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #1A1A1A;
  opacity: 0.8;
}

.li-section-features {
position: absolute;
width: 370px;
height: 400px;
left: 30px;
top: 209px;

}

.li-uno-section-features-img {
  position: absolute;
width: 42px;
height: 42px;
left: 45px;
top: 15px;
}

.li-uno-section-features {
  position: absolute;
  width: 228px;
  height: 36px;
  left: 100px;
  top: 15px;
  font-family: 'Alatsi', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  color: #1A1A1A;
  background-color: transparent;
}